*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background2.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}
.container{
    background-color: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 70px 0px 70px 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
/*formulario Login*/
.cLogin{
    width: 400px;
    
}
.inputFormulario{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #000d57;
    height: 30px;
    color: #fff;
    margin: 10px 0px 30px 0px;
}
.textCadastro{
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

/*FORMULÁRIO CADASTRO*/
.cCadastro{
    width: 800px;
}
.btn{
    float: right;
    padding: 10px 30px;
    background: #40bba69f;
    border: 1px solid rgba(117, 117, 117, 0.267);
    color: #fff;
}
